
html, body {
	width: 100%;
	height:100%;
	margin: 0;
}

  *.heading1 {
	font-family: Thompson Modern;
	margin: auto;
}

body {
	background-color: #FFF;
}

*.videocontainers {
	width: 60.0%;
	margin: 0 auto;
}

*.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25.0px;
	height: 0;
	margin: 0 auto;
}

*.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100.0%;
	height: 100.0%;
}

*.testimonial {
	height: 200.0px;
	text-align: center;
	color: white;
	padding: 10.0%;
	position: relative;
	z-index: 1;
}

*.square {
	color: white;
	padding: 2.0%;
	font-size: 50.0%;
	float: none;
}

*.video {
	margin: 0 auto;
}

h4 {
	font-family: Thompson Modern;
	color: rgb(123,146,162);
	text-align: center;
	margin: 30.0px 23.0%;
}

hr {
	width: 4.0%;
	height: 5.0px;
	background-color: rgb(155,182,201);
	margin: 40.0px auto 40.0px auto;
}

p {
	clear: both;
}

*.collegelogo {
	float: none;
}

*.applybtn {
	background-color: white;
	border: rgb(0,182,230) solid;
	font-family: Arial;
	color: rgb(0,182,230);
	padding: 1.0% 5.0%;
	width: 100.0%;
	height: 3.0%;
}

a, a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

a:link, a:visited {
	color: rgb(0,182,230);
}

a:hover, a:active {
	color: white;
	background-color: rgb(0,182,230);
}

 .imgcontainer {
 	margin: 0 auto;
 	position: relative;
 	width: 100%;
 	background: #0C2C4F;
 	margin-top: 50px;
 	height: 680px;
 	margin-bottom: 90px;
 	padding: 50px;
	z-index: 0;
 }

@media only screen and (max-width: 730px) {
	.slide_img > img {
		height: 40%; !important
	}
}
 

/* 	
 @media screen (min-width: 320px) and (max-width: 1060px) {
      .imgcontainer {
	  margin: 0 auto;
	  position: relative;
	  width: 100%;
	  background: #FFF;
	  margin-top: 20px;
	  height: 480px;
	  margin-bottom: 30px;
	  padding: 20px;
	  z-index: 0;
	 }
    } */

 .slide_img {
 	margin-top: 9px;
 	padding-bottom: 8px;
 }

 .slide_img img {
 	margin: 0 auto;
 }


.meet-title {
	margin-top: 50px;
}
 

