
html, body {
	width: 100%;
	height:100%;
	margin: 0;
}

  *.heading1 {
	font-family: Thompson Modern;
	/* margin: auto; */
}


body {
	background-color: #FFF;
}

body .container{
	padding: 10px 7vw;
}
#top-banner {
	min-height: 130px;
}

#YC-logo {
	margin-top: 50.0px; 
	display: inline-block; 
	width: 25%;
	min-width: 270px;
}


h1 {
	margin-top: 50.0px;
	font-family: Thompson Modern;
	color: black;
	font-size: 5em;
}

h2 {
	font-family: Thompson Modern;
	font-size: 30px;
	color: #1f1f1f;
}

h3 {
	font-family: Didot;
	color: black;
	font-size: 28px;
}

.bs-quote {
	text-align: center; 
	margin: 50px 18%;
	padding-bottom: 20px;
}

h3 span {
	font-family: Palatino;
	font-size: 50px;
	color: #0045f2;
}

*.videocontainers {
	width: 70.0%;
	margin: 0 auto;
}

*.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25.0px;
	height: 0;
	margin: 0 auto;
}

*.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100.0%;
	height: 100.0%;
}

*.testimonial {
	height: 200.0px;
	text-align: center;
	color: white;
	padding: 10.0%;
	position: relative;
	z-index: 1;
}

*.square {
	color: white;
	padding: 2.0%;
	font-size: 50.0%;
	float: none;
}

*.video {
	margin: 0 auto;
}

p {
	font-family: Thompson Modern;
	color: ##1f1f1f;
	text-align: left;
	font-size: 22px;
	line-height: 1.38em;
	letter-spacing: 0.01em;
	/* margin: 30.0px 23.0%; */
}

.schools-ul {
	font-family: Thompson Modern;
	color: #1f1f1f;
	font-size: 22px;
	line-height: 1.38em;
	list-style-type: none;
	letter-spacing: 0.01em;
	font-weight:300;
}

.schools-ul li {
	text-align: center;
	margin-top: 40px;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.01em;
}

.school-specs {
	font-size: 22px;
	letter-spacing: 0.01em;
	font-weight: 300;
}


hr {
	width: 4.0%;
	height: 5.0px;
	background-color: rgb(155,182,201);
	margin: 40.0px auto 40.0px auto;
}

/*p {
	clear: both;
}*/

*.collegelogo-left {
	float: left;
	max-width: 30%;
	display: inline-block;
	padding: 20px 30px;
}

.collegelogo-right {
	float: right;
	max-width: 20%;
	display: inline-block;
	padding-left: 20px 30px;
}

.test-block {
	margin-top: 60px;
}

*.applybtn {
	background-color: #0045f2;
	border: none;
	font-family: Thompson Modern;
	font-size: 28px;
	color: white;
	padding: 10px 0px;
	width: 50vw;
	height: 80px;
	margin-top: 50px;
	text-decoration: none;
}

/* a, a:hover, a:visited, a:link, a:active {
	text-decoration: none;
} */

.applybtn:hover, .applybtn:active {
	color: #0045f2;
	background-color: white;
	border: #0045f2 solid;
	outline: none;
}

.bolded {
	font-weight:500;
}

 .imgcontainer {
 	margin: -30px 1%;
 	position: relative;
 	/*width: 100%;*/
 	/*background: #0C2C4F;*/
 /*	margin-top: 10px;*/
 	height: 70vw;
/* 	margin-bottom: 6vw;*/
/* 	padding: 50px 0px;*/
	z-index: 0;
 }

@media only screen and (max-width: 991px) {
	
	#marg-fix {
	margin-top: -27vw;
	}
}


 .slide_img {
 	margin-top: 9px;
 	padding-bottom: 4px;
 }

 .slide_img img {
 	margin: 0 auto;
 }

.midimg {
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-moz-transform: scale(0.8);
}

/* .bottom-img {
	margin-top: -15px;
	transform: scale(0.75);
	-webkit-transform: scale(0.75);
	-o-transform: scale(0.75);
	-ms-transform: scale(0.75);
	-moz-transform: scale(0.75);
} */

.meet-title {
	text-justify: left;
	margin-top: 50px;
}

.test-name {
	font-weight: 500; 
	font-size: 25px;
	line-height: 53px;
}
